#liste_categories_animaux,#liste_animaux{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto 30px auto;
}

#liste_categories_animaux img,#liste_animaux img{
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
}

#liste_categories_animaux img:hover,#liste_animaux img:hover  {
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%); /* Firefox */
    border-radius:8px 8px 0 0;
}

.categories_animaux,.animaux{
    width:100%;
    padding:15px;
}

.categories_animaux div,.animaux div{
    width:100%;
    text-align:center;
    background-color:#028090;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    padding:5px;
}

#image_detail_animal {
    width: 50%;
    margin: 0 auto;
}

#image_detail_animal img{
    object-fit: contain;
    border:3px solid #028090;
    border-radius:15px;
}

#description_detail_animal{
    text-align:center;
    margin-top:30px;
}

.categories_animaux img{
    object-fit: contain;
}

/* VERSION TABLETTE */
@media screen and (min-width:600px) and (max-width:949px){
    .categories_animaux,.animaux{
        width:50%;
    }
}

/* VERSION BUREAU */
@media screen and (min-width:950px){
    .categories_animaux,.animaux{
        width:25%;
    }
}