#image_utilisateur_profil{
    width:5%;
}

.liste_info_user{
    margin-left:5px;
}

#bloc_profil_utilisateur{
    position:relative;
    display:flex;
    border:1px solid green;
    border-radius:10px;
    overflow:hidden;
}

#bloc_profil_utilisateur #image_utilisateur_profil{
    width:25%;
}

#informations_utilisateur{
    width:75%;
    margin-left:50px;
    padding:10px;
}

#liste_informations_utilisateur{
    display:flex;
    flex-direction: column;
    margin-top:10%;
    align-items: center;
}

#liste_informations_utilisateur div{
    margin:3px;
    font-size:1.1em;
}

#informations_utilisateur h1{
    text-align:center;
}

.posts{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.post{
  width: 30%;
  height: 300px;
  position: relative;
  margin: 0px 10px 10px 10px;
}
.post img{
  width: 100%;
  height: 100%;
}

.informations_animal{
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: grey;
  display: none;
  width: 100%;
}

.post:hover{
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(70%); /* Firefox */
}

.post:hover .informations_animal{
  display: flex;
}

/*page post*/
.images_animal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images_animal img{
  margin: 40px;
}
