#image_utilisateur_profil{
    width:5%;
}

.liste_info_user{
    margin-left:5px;
}

#bloc_profil_utilisateur{
    position:relative;
    display:flex;
    border:2px solid #028090;
    border-radius:10px;
    overflow:hidden;
    background-color:white;
}

#nom_prenom_profil{
    color:black;
}

#bloc_profil_utilisateur #image_utilisateur_profil{
    width:25%;
}

#informations_utilisateur{
    width:75%;
    margin-left:50px;
    padding:10px;
}

#liste_informations_utilisateur{
    display:flex;
    flex-direction: column;
    margin-top:10%;
    align-items: center;
}

#liste_informations_utilisateur div{
    margin:3px;
    font-size:1.1em;
}

#informations_utilisateur h1{
    text-align:center;
}

.posts{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
    justify-content: space-around;
}

.post{
  width: 33.33333333%;
}

.cadre_liste_user{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin:15px 0 15px 0;
}

.cadre_user{
    width:20%;
    cursor:pointer;
}

.cadre_nom_prenom{
    background-color:#028090;
    color:white;
    font-weight: bold;
    text-align:center;
}

#bloc_commentaire{
    margin-top:20px;
}

.bloc_commentaire_profil{
    background-color:whitesmoke;
    margin-top:10px;
    position:relative;
    padding:15px;
    border-radius:15px;
}

.commentaire_date{
    position:absolute;
    top:5px;
    right:5px;
}

.table_page_profil{
    background-color:white;
}

.cadre_photo_profil_commentaire{
    width:60px;
}

.cadre_photo_profil_commentaire img{
    object-fit: cover;
    border-radius:40px;
}

.commentaire_profil{
    padding:10px;
}

#textarea_profil{
    padding:20px;
    border-radius:5px;
}

.post{
    position:relative;
    margin-bottom:30px;
    cursor:pointer;
}

.nom_animal{
    position:absolute;
    left:0;
    bottom:0;
    background-color:#dbff3d;
    width:100%;
    padding:5px;
    text-align:center;
    font-size:1.3em;
}

/* VERSION TABLETTE */
@media screen and (min-width:600px){
    .post {
        width: 30%;
        cursor:pointer;
    }

    .post img {
        border-radius: 8px;
    }
}
/* VERSION BUREAU */
@media screen and (min-width:950px){
    .post {
        width: 30%;
        cursor:pointer;
    }

    .post img {
        border-radius: 8px;
    }
}