#image_utilisateur_profil{
    width:5%;
}

.liste_info_user{
    margin-left:5px;
}

#bloc_profil_utilisateur{
    position:relative;
    display:flex;
    border:2px solid green;
    border-radius:10px;
    overflow:hidden;
    background-color:whitesmoke;
}

#bloc_profil_utilisateur #image_utilisateur_profil{
    width:25%;
}

#informations_utilisateur{
    width:75%;
    margin-left:50px;
    padding:10px;
}

#liste_informations_utilisateur{
    display:flex;
    flex-direction: column;
    margin-top:10%;
    align-items: center;
}

#liste_informations_utilisateur div{
    margin:3px;
    font-size:1.1em;
}

#informations_utilisateur h1{
    text-align:center;
}

.posts{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
}

.post{
  width: 33.33333333%;
}

/* VERSION TABLETTE */
@media screen and (min-width:600px){
    .post {
        width: 30%;
    }

    .post img {
        border-radius: 8px;
    }
}
/* VERSION BUREAU */
@media screen and (min-width:950px){
    .post {
        width: 30%;
    }

    .post img {
        border-radius: 8px;
    }
}