html{
    cursor: url("../images/curseur/patte_chien.gif"), pointer;
}

main {
    width: 70%;
    margin: 0 auto;
    padding:10px 30px;
}

h1{
    text-align:center;
}

body{background-color:lightseagreen}

#nav_principal{
    background-color:#028090 !important;
}

#nav_principal ul{
    display:flex;
    width:60%;
    margin:0 auto;
    justify-content:space-around;
    font-size:1.3em;
}

#nav_principal  ul li{
    list-style: none;
}

#nav_principal  a{
    text-decoration: none;
    color:white;
}

#nav_principal  a:hover{
    color:white;
}

img{
    display:block;
    min-width:100%;
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

#logo_site{
    max-height:8%;
    max-width:8%;
}

#bloc_header{
    background-color: #dbff3d;
}

#texte_logo{
     text-align:center;
    font-size:1.2em;
}

footer{
    padding:10px;
    background-color:#028090;
}

footer ul{
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
    justify-content: space-evenly;
}

footer ul li a{
    color:white;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
    text-decoration: none;
}

#logo_site img{
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:transform .8s ease-in-out;
}
#logo_site img:hover {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

#page_credits,#page_mentions_legales,#page_faq{
    text-align:center;
    margin-bottom:10px;
}

#page_credits div{
    font-size:1.1em;
}

.questions_faq{
    font-weight: bold;
    font-size:1.2em;
}

button{
    display:block;
    margin:30px auto 15px auto;
    border:none;
    padding:10px;
    background-color:#dbff3d;
    color:#028090;
    font-weight: bold;
    font-size:1.2em;
    border-radius:5px;
}

button:hover{
    background-color:#028090;
    color:#dbff3d;
}

button:hover,#logo_site:hover{
    cursor:pointer;
}

.fas{
    cursor:pointer;
}

label,input,textarea{
    width:100%;
}

textarea{
    max-width:100%;
    max-height:150px;
}

label,form div{
    color:white;
    font-size:1.1em;
}

input{
    margin-bottom:15px;
    padding:5px;
    text-align:center;
    border-radius:5px;
}

::placeholder{
    color:#028090;
}

button:hover{
    cursor:pointer;
}

#message_input_file{
    text-align:center;
}

form{
    width:70%;
    margin:0 auto;
}

.cadre_like{
    display:flex;
    width:150px;
    margin-top:10px;
    border-radius:25px;
}

.cadre_like:hover{
    cursor:pointer;
    background-color:lightgreen;
}

.icon_like{
    width:50px;
}

.icon_like img{
    object-fit: cover;
}

.like{
    margin:auto;
}

.cadre_liked{
    background-color:lightgreen;
}

#images_animal_user{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top:50px;
}

.animal_photos_liste{
    width:30%;
}

.description_animal{
    text-align:center;
    font-size:1.3em;
}

.cadre_photo_profil_commentaire{
    cursor:pointer;
}

#cadre_page_posts{
    display:flex;
    margin:0 auto;
}

#cadre_page_posts h1{
    width:100%;
}

.animal_photos_liste img{
    object-fit: cover;
}

#espace_profil{
    position:absolute;
    top:5px;
    right:5px;
    width:200px;
}

#photo_profil{
    width:50%;
    right:0;
}

#photo_profil img{
    object-fit: cover;
    border-radius:50px;
}

#liste_image_animaux{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top:50px;
}

#liste_image_animaux .image_animal{
    object-fit: contain;
    width:8%;
}

#footer_animaux{
    width:50%;
    margin:0 auto;
}

h2{
    font-size:1.6em;
}

.bloc_commentaire_image{
    width:30%;
    margin-top:10px;
}

#espace_profil{
    cursor:pointer;
}

.bloc_commentaire_imag img{
    object-fit: cover;
}


/* VERSION TABLETTE */
@media screen and (min-width:600px) and (max-width:1200px){
    #espace_profil{
        width:60px;
    }
    #photo_profil{
        width:100%;
    }
    #nom_prenom{
        display:none;
    }
}
/* VERSION telephone */
@media screen and (max-width:600px){
    #espace_profil{
        width:50px;
    }
    #photo_profil{
        width:100%;
    }
    #nom_prenom{
        display:none;
    }
}