#liste_veto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coordonnee {
    padding: 20px;
    border: solid 2px #028090;
    border-radius: 20px;
    margin-bottom: 50px;
    width:40%;
    background-color:white;
}

.coordonnee li {
    list-style: none;
    padding: 10px;
    display: flex;
}

.coordonnee p {
    margin: 0;
    padding-right: 10px;
}

#liste_veto button:hover{
    color:#dbff3d;
    background-color:#028090;
}

h1{
    margin-bottom:50px;
    color:white;
}

li p:first-child{
    font-weight: bold;
}