#liste_veto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coordonnee {
    padding: 20px;
    border: solid 2px #028090;
    border-radius: 20px;
    margin-bottom: 50px;
    width:40%;
    background-color:white;
}

.coordonnee li {
    list-style: none;
    padding: 10px;
    display: flex;
}

.coordonnee p {
    margin: 0;
    padding-right: 10px;
}

#liste_veto button:hover{
    color:#dbff3d;
    background-color:#028090;
}

h1{
    margin-bottom:50px;
    color:white;
}

li p:first-child{
    font-weight: bold;
}

#bloc_gauche_veto,#bloc_droit_veto{
    background-color:white;
    border:3px solid #028090;
    border-radius:15px;
    padding:30px;
}

#bloc_droit_veto i{
    margin-right:10px;
}

#bloc_droit_veto{
    max-height:min-content;
}

#bloc_droit_veto div{
    margin:0 auto;
}

#specialite{
    text-align:center;
    margin-bottom:20px;
}

#contact_veto{
    margin:0 auto;
    width:100%;
}

#contact_veto div{
    width:80%;
    margin:0 auto;
}

#liste_photos_veto{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

#liste_photos_veto div{
    width:20%;
    margin:10px;
}

#liste_photos_veto img{
    object-fit: contain;
}

#h2_veto{
    text-align:center;
    color:white;
    margin:40px 0;
}

.coordonnee:hover{
    background-color:#f5f5dc;
}

/* VERSION TABLETTE */
@media screen and (min-width:600px){
    #detail_veto{
        display:flex;
        justify-content: space-around;
    }

    #bloc_gauche_veto{
        width:60%;
    }

    #bloc_droit_veto{
        width:30%;
    }
}
/* VERSION BUREAU */
@media screen and (min-width:950px){
    #detail_veto{
        display:flex;
        justify-content: space-around;
    }

    #bloc_gauche_veto{
        width:60%;
    }

    #bloc_droit_veto{
        width:30%;
    }
}